a.meanmenu-reveal {
    display: none;
}


/* when under viewport size, .mean-container is added to body */

.mean-container .mean-bar {
    float: left;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: -70px;
    right: 0;
    padding: 10px 0;
}

.mean-container a.meanmenu-reveal {
    padding: 3px;
    position: absolute;
    top: 15px;
    right: 0;
    cursor: pointer;
    display: block;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #2e3038;
    height: 2px;
    margin: 5px;
    width: 30px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
}

.mean-container a.meanmenu-reveal.meanclose span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.mean-container a.meanmenu-reveal.meanclose span:nth-of-type(2) {
    opacity: 0;
}

.mean-container a.meanmenu-reveal.meanclose span:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #607d8b;
    margin-top: 55px;
    box-shadow: 0 0px 30px rgb(0 0 0 / 25%);
}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px dotted #e4e4e4;
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    text-align: left;
    color: #fff;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.mean-container .mean-nav ul li li a {
    padding-left: 30px;
    border-top: 1px solid #f1f1f1;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
    background: #252525;
    background: rgba(255, 255, 255, 0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    border: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    width: 45px;
    height: 46px;
    padding: 0;
}

.mean-container .mean-nav ul li a.mean-expand::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
    left: 16px;
    top: 16px;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: #ff5f00;
}

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}


/* Fix for box sizing on Foundation Framework etc. */

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.mean-remove {
    display: none !important;
}