body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    font-family: 'Poppins', sans-serif !important;
}

h1 {
    font-family: 'Poppins', sans-serif !important;
}

h2 {
    font-family: 'Poppins', sans-serif !important;
}

h3 {
    font-family: 'Poppins', sans-serif !important;
}

h4 {
    font-family: 'Poppins', sans-serif !important;
}

h5 {
    font-family: 'Poppins', sans-serif !important;
}

p {
    font-family: 'Poppins', sans-serif !important;
}

span {
    font-family: 'Poppins', sans-serif !important;
}


/* 
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Latinotype-CorpSansRdAlt-RegularCndIt.otf);
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Latinotype-CorpSansRd-RegularCnd.otf);
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Latinotype-CorpSansRd-RegularCndIt.otf);
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Latinotype-CorpSansRdAlt-RegularCnd.otf);
} */

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

.transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 9999;
}


/*===========================
    HEADER MENU css 
===========================*/

.header-top {
    border-bottom: 1px solid #eceff8;
}

.header-top .header-social ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 25px 0;
}

.header-top .header-social ul li:last-child {
    margin-right: 0;
}

.header-top .header-social ul li a {
    color: rgba(44, 44, 44, 0.3);
    font-size: 18px;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}

.header-top .header-social ul li a:hover {
    color: #000;
}

.header-top .header-info ul li {
    display: inline-block;
    padding: 25px 30px;
    border-right: 1px solid #eceff8;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-area {
        padding-bottom: 20px;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .header-top .header-info ul li {
        padding: 25px 15px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-top .header-info ul li {
        padding: 25px 15px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-top .header-info ul li:first-child {
        border-left: 1px solid #eceff8;
    }
}

.header-top .header-info ul li p {
    font-size: 16px;
    color: #2c2c2c;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .header-top .header-info ul li p {
        font-size: 15px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-top .header-info ul li p {
        font-size: 15px;
    }
}

.header-top .header-info ul li p img {
    margin-right: 10px;
}

.header-top .header-info ul li p a {
    color: #000;
}


/* ====== Navigation sticky ===== */

.navigation.sticky {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0d578c;
    z-index: 999;
    padding: 6px 0;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-animation: sticky 2s;
    -moz-animation: sticky 2s;
    -o-animation: sticky 2s;
    animation: sticky 2s;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navigation.sticky {
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {
    .navigation.sticky {
        padding-bottom: 20px;
    }
}

.navigation.sticky .logo {
    min-width: 0px !important;
    max-width: auto !important;
    height: auto !important;
    transition: all .3s !important;
}

.navigation.sticky .main-menu .nav-menubar>li>a {
    padding: 15px 0;
    color: #fff !important;
}

.navigation.sticky .search-cart {
    padding: 24px 0;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navigation.sticky .search-cart {
        padding: 0;
        top: 27px;
    }
}

@media (max-width:767px) {
    .navigation.sticky .search-cart {
        padding: 0;
        top: 27px;
    }
}

@keyframes sticky {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.nav-menubar {
    margin-top: 0.7rem;
    margin-bottom: 0rem;
    padding: 0;
}


/* .navigation.sticky .nav-menubar {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
} */

.header-menu .logo p {
    color: #086ab0;
    font-weight: 500;
    font-size: 18px;
    margin: 1.3rem 0rem 1.3rem 0.5rem;
}

.header-menu .logo span {
    color: #000;
    line-height: 1;
    font-size: 12px;
    font-weight: 100;
}

.header-menu .logo {
    position: relative;
    z-index: 9999;
    display: flex;
    min-width: auto !important;
    max-height: auto !important;
    height: auto !important;
    transition: all .3s !important;
}

.header-menu .main-menu .nav-menubar>li {
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.header-menu .main-menu .nav-menubar>li:first-child {
    margin-left: 0;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .header-menu .main-menu .nav-menubar>li {
        margin-left: 15px;
    }
    .nav-menubar {
        padding: 0px;
    }
}

.header-menu .main-menu .nav-menubar>li>a {
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
    padding: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}

.header-menu .main-menu .nav-menubar>li a.active,
.header-menu .main-menu .nav-menubar>li:hover>a {
    color: #fff !important;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .header-menu .main-menu .nav-menubar>li>a {
        font-size: 12px;
        color: rgb(238, 238, 238) !important;
        padding: 10px 0px;
    }
}

.header-menu .main-menu .nav-menubar>li .sub-menu {
    position: absolute;
    top: 115%;
    left: 0;
    width: 220px;
    background-color: #fff;
    padding: 5px 20px;
    border-top: 2px solid #d2a264;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    z-index: 9;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
}

.header-menu .main-menu .nav-menubar>li .sub-menu li {
    border-bottom: 1px solid rgba(255, 74, 90, 0.3);
    position: relative;
}

.header-menu .main-menu .nav-menubar>li .sub-menu li:last-child {
    border-bottom: 0;
}

.header-menu .main-menu .nav-menubar>li .sub-menu li a {
    display: block;
    font-size: 14px;
    padding: 9px 0;
    color: #2e3038 !important;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}

.header-menu .main-menu .nav-menubar>li .sub-menu li a.active,
.header-menu .main-menu .nav-menubar>li .sub-menu li:hover>a {
    padding-left: 5px;
    color: #000 !important;
}

.header-menu .main-menu .nav-menubar>li .sub-menu li .sub-menu {
    left: 111%;
    top: 0;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    opacity: 0;
    visibility: hidden;
}

.header-menu .main-menu .nav-menubar>li .sub-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.header-menu .main-menu .nav-menubar>li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-menu .search-cart {
    padding: 31px 0;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-menu .search-cart {
        padding: 0;
        position: absolute;
        right: 60px;
        top: 33px;
        z-index: 9999;
    }
}

@media (max-width:767px) {
    .header-menu .search-cart {
        padding: 0;
        position: absolute;
        right: 55px;
        top: 33px;
        z-index: 9999;
    }
}

.header-menu .search-cart ul {
    margin-right: 10px;
}

.header-menu .search-cart ul li {
    display: inline-block;
    margin-left: 15px;
}

.header-menu .search-cart ul li:first-child {
    margin-left: 0;
}

.header-menu .search-cart ul li a {
    font-size: 18px;
    color: #2c2c2c;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .header-menu .search-cart ul li a {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .header-menu .search-cart ul li a {
        font-size: 16px;
    }
}

.header-menu .search-cart ul li .cart {
    position: relative;
}

.header-menu .search-cart ul li .cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    background-color: #ff5e00;
    border-radius: 50%;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}


/* ===================
Slider Style css
====================== */


/* .header-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.zoominheader {
    width: 100%;
    height: 100vh;
    background: url("../img/slider_2.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation: zoomin 10s ease-in;
    animation: zoomin 10s ease-in;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.zoomoutheader {
    width: 100%;
    height: 100%;
    background: none;
    -webkit-animation: zoomout 10s ease-in;
    animation: zoomout 10s ease-in;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.slide-head {
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.slide-head h2 {
    color: #fff;
    font-weight: 600;
    font-size: 3em;
} */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner-img.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

#photo {
    width: 206px;
    height: 250px;
    margin-left: 50px;
}

#logo {
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

#hed1 {
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
    font-size: 40px;
}

#hed2 {
    top: 28%;
    left: 5%;
    margin: 0;
    font-size: 40px;
    letter-spacing: .2em;
    position: absolute;
    font-weight: 600;
    color: #f3fbfd;
}

#hed3 {
    top: 38%;
    left: 8%;
    font-size: 40px;
    letter-spacing: .2em;
    position: absolute;
    color: #086ab0;
    font-weight: 600;
    margin: 0;
}

#hed4 {
    top: 48%;
    left: 11%;
    font-size: 40px;
    letter-spacing: .2em;
    position: absolute;
    color: #11528c;
    font-weight: 600;
    margin: 0;
}

.crop {
    overflow: hidden;
}

.slide_mobile {
    display: none !important;
}

.slide_desktop {
    display: block;
}


/* ==================
Our Wings top
 ================ */


/* ====================
Index  css
======================= */


/* section-1  */

.biene-sub {
    padding: 25px 30px;
    border-radius: 0;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 8%);
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 8%);
    border: 1px solid rgb(249, 249, 249);
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.biene-sub:hover {
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 6px 15px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 6px 15px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgb(243, 243, 243);
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.biene-sub .biene-sub-larg img {
    margin: 0 auto;
    width: 100%;
}

.biene-sub .biene-sub-titl {
    margin: 20px 0 0 0;
}

.biene-sub .biene-sub-titl h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.biene-sub .biene-sub-titl i {
    font-size: 13px;
    margin: 0;
    min-height: 38px;
}

.biene-sub .biene-sub-titl p {
    font-size: 14px;
    color: #777;
    margin: 15px 0;
    text-align: left;
}

.biene-sub .biene-link-b a {
    background-color: #fff;
    border: 1px solid #289dd8;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 50px;
    color: #0d578c;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.biene-sub .biene-link-b a:hover {
    background-color: #289dd8;
    border: 1px solid #289dd8;
    border-radius: 50px;
    color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover {
    width: 150px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    letter-spacing: 0.8px;
    height: auto;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    color: #fff;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient( to right, #086ab0, #2ba3dc, #28adf8, #3298eb);
    box-shadow: 0 4px 15px 0 rgb(14 116 184);
}

.viwe-butn button {
    background-color: #073a64;
    color: #fff;
    padding: 10px 20px;
}

.home-btn {
    margin-top: 30px;
}

.wing-botom {
    margin-bottom: 20px;
}

.wing-headline {
    background: rgb(255 255 255 / 25%);
    margin-top: 40px;
}

.wing-headline h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.wing-headline h6 {
    font-size: 14px;
    margin: 10px 0;
    color: #1985c5;
}

.wing-headline p {
    font-size: 15px;
    line-height: 1.7;
    text-align: justify;
    color: #686868;
}

.wing-headline .wing-back a {
    color: #1078bb;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.wing-headline .wing-back a:hover {
    background-image: linear-gradient( to right, #222222, #17191a);
    border: 1px solid transparent;
    color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.wing-back-done a {
    color: #1078bb;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.wing-back-done a:hover {
    background-image: linear-gradient( to right, #222222, #17191a);
    border: 1px solid transparent;
    color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.our_textdisl {
    display: inline-flex;
}

.section-botm {
    margin-bottom: 50px;
}

.our-class-section {
    padding: 35px 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 22px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 6px 22px 0 rgb(0 0 0 / 30%);
}

.our-class-section h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.our-class-section ul {
    padding: 0;
    margin: 0;
}

.our-class-section ul li {
    list-style: none;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
}

.our-class-section-none {
    border-bottom: 1px solid transparent !important;
    margin-bottom: 0 !important;
}

.our-class-section ul li span {
    display: -webkit-box;
}

.our-class-section ul li span i {
    margin-right: 10px;
    color: #073a64;
}

.our-class-section ul li span p {
    margin: 0;
}

.bienewabe-preschool {
    background: url(../img/bienewabe-banner-img-preschool.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bienewabe-hitz {
    background: url(../img/bienewabe-banner-img-hitz.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bienewabe-preparatory {
    background: url(../img/bienewabe-banner-img-preparatory.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bienewabe-lower-upper {
    background: url(../img/bienewabe-banner-img-bienewabe-lower-upper.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bienewabe-high {
    background: url(../img/bienewabe-banner-img-bienewabe-high.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bienewabe-secondary {
    background: url(../img/bienewabe-banner-img-bienewabe-secondary.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}


/* section-2  */

.biene-team h2 {
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 1px;
}

.biene-team span {
    color: rgb(13 87 140);
}

.bienewabe-bord {
    border-right: 1px solid #e4e4e4;
}

.bienewabe-branch {
    position: relative;
    padding: 25px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.bienewabe-branch .bienewabe-branch-centre h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #086ab0;
}

.bienewabe-branch .bienewabe-branch-centre p {
    font-size: 14px;
    margin: 0;
    text-align: justify;
    color: #777777;
}

.bienewabe-branch:hover p {
    color: #000;
    transition: .3s ease-in-out;
}

.bienewabe-branch .bienewabe-branch-top {
    text-align: center;
    margin-bottom: 25px;
}

.bienewabe-branch img {
    text-align: center;
    transition: transform 0.8s;
}

.bienewabe-branch:hover .been-img {
    transform: rotateY(180deg);
    transition: transform 0.8s;
}

.bienewabe-branch .bienewabe-branch-centre .bienewabe-ul-awa {
    padding: 0;
    margin: 15px 0;
}

.bienewabe-branch .bienewabe-branch-centre .bienewabe-ul-awa li {
    list-style: none;
    margin-bottom: 10px;
}

.bienewabe-branch .bienewabe-branch-centre .bienewabe-ul-awa li h3 {
    font-size: 18px;
}

.bienewabe-branch .bienewabe-branch-centre .bienewabe-ul-awa li img {
    margin-right: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    background: #0b69b1;
    width: 35px;
    box-shadow: 0 10px 40px rgb(0 0 0 / 25%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.bienewabe-branch .bienewabe-branch-centre .bienewabe-ul-awa li:hover img {
    background-color: #000;
    margin-right: 8px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* section-3  */

.bienewabe_abt_bg {
    background-image: url(../img/about-come-home01.jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: inherit;
}

.bien-abouts {
    padding: 40px 0;
}

.bien-abouts h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
}

.bien-abouts p {
    color: #efefef;
    font-size: 14px;
}


/* Get fixed setion  */

.beine-test {
    background: url(../img/get-ready-our.image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.biein-call h3 {
    color: #086ab0;
    font-style: unset;
    letter-spacing: 0.8px;
}

.biein-call span {
    color: #222;
    font-weight: 600;
    font-size: 30px;
}


/* section-4  */

.biene-test h2 {
    color: #fff;
    margin-bottom: 35px;
    letter-spacing: 1px;
    font-size: 24px;
}

.biene-fixed-dm {
    /* background: url(../img/biene-fixed-class.jpg); */
    background: linear-gradient(90deg, rgba(8, 106, 176, 1) 0%, rgb(24, 120, 189) 35%, rgba(43, 163, 220, 1) 100%);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.item-bg iframe {
    border: 1px solid transparent !important;
}

.item-heads {
    padding: 15px 18px;
    background: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.item-details h5 {
    font-size: 18px;
    color: #073a64;
}

.item-heads .item-fas {
    margin-top: 10px;
}

.item-heads .item-fas i {
    padding-right: 5px;
    font-size: 13px;
    color: #2999ee;
}

.item-heads .item-fas span {
    font-size: 13px;
    color: #313131;
    font-style: italic;
}

.item-bg {
    border-radius: 5px;
}

.img-responsive {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.item-details p {
    font-size: 12px;
    color: #777777;
    margin: 0;
    text-align: justify;
}

.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: none;
}

.owl-carousel .owl-prev {
    left: -70px;
}

.owl-carousel .owl-next {
    right: -70px;
}


/* ===================
Directors Messsage
====================== */

.biene-for-message h3 {
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.biene-for-message p {
    font-size: 14px;
    text-align: left;
    color: #777777;
}

.biene-for-message-img {
    margin: 4% auto;
    text-align: center;
}

.biene-cave img {
    border-radius: 10px;
}

.biene-cave {
    z-index: 9999;
}


/* ===================
Gallery css
====================== */

.biene-head h2 {
    color: #1b7fc2;
    font-size: 24px;
    margin-bottom: 20px;
}


/* .beien-dot {
    background-image: linear-gradient(to right, rgb(113 152 191), rgb(85 125 165));
} */

.wrapp {
    width: 100%;
    overflow: hidden;
}

.beine-port {
    margin: 10px 0;
}

.photobanner {
    position: relative;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.photobanner img {
    margin: 0px 25px;
    border-radius: 8px;
}

.photobanner {
    animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
    from {
        left: 0px;
    }
    to {
        left: -2700px;
    }
}


/* Wings Popup Box  */

.form-popup-bg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.form-container {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 23%);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom-right-radius: 8px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.biene-wings .biene-wings-well {
    padding: 20px;
}

.biene-wings .biene-wings-well h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}

.biene-wings .biene-wings-well p {
    color: rgb(92, 90, 90);
    text-align: justify;
    font-size: 14px;
    margin: 0;
}


/* ===================
Aboutus css
====================== */

.bienewabe-about {
    background: url(../img/bienewabe-banner-img-about.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bienwall-dots {
    background: url(../img/about-dots-band.png);
    background-size: auto;
    background-repeat: repeat;
}

.biene-ala-inner {
    padding: 25px;
    margin-top: 20px;
}

.biene-ala-inner h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2ba3dc;
}

.biene-ala-inner p {
    font-size: 14px;
    color: #777;
    text-align: justify;
    margin: 0;
}

.beine-img-asa img {
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
    border-radius: 8px;
}

.about-vis-mis {
    padding: 25px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 25%);
}

.about-vis-mis p {
    font-size: 14px;
    margin: 20px 0 0;
    text-align: justify;
    color: #777;
}

.about-vis-mis img {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.about-vis-mis:hover img {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.about-motto {
    box-shadow: 0 10px 30px rgb(0 0 0 / 25%);
    padding: 25px;
}

.about-motto p {
    font-size: 14px;
    margin: 20px 0 0;
    text-align: justify;
    color: #777;
}

.about-motto span {
    color: #4a4a4a;
    font-weight: 600;
}

.about-motto img {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.about-motto:hover img {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.about-intention-sub .about-intention-icon {
    display: -webkit-inline-box;
}

.about-intention-sub .about-intention-icon img {
    margin-right: 10px;
}

.about-intention-sub .about-intention-icon h3 {
    font-size: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}

.about-intention {
    padding: 0px 30px;
}

.about-intention .about-intention-sub p {
    font-size: 14px;
    color: #777;
}

.about-intention .about-intention-we {
    margin-top: 25px;
}

.about-intention .about-intention-we h5 {
    font-size: 18px;
    color: #0d578c;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-intention .about-intention-we ul {
    padding: 0;
    margin: 0;
}

.about-intention .about-intention-we ul li {
    list-style: none;
    display: inline-flex;
    margin-bottom: 10px;
}

.about-intention .about-intention-we ul li i {
    margin-right: 10px;
    background: #0d578c;
    border: 1px dotted #a5a2a2;
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 0px 5px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.about-intention .about-intention-we ul li:hover i {
    background: #0d578c;
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.about-intention .about-intention-we ul li span {
    font-size: 14px;
    color: gray;
}

.biene-wab-staff {
    padding: 40px 30px 0 0;
    margin-top: 50px;
}

.beiene-serve-img .beiene-serve-img-cur {
    margin: 21% auto;
}

.back_bg_come {
    background: rgb(255, 245, 245);
}

.biene-parets-img img {
    /* box-shadow: 0px 8px 24px 1px #a2a2a280; */
}

.biene-gard-role .biene-gard-sub {
    padding: 0px 20px;
}

.biene-gard-role .biene-gard-sub h3 {
    font-size: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 25px;
}

.biene-gard-role .biene-gard-sub p {
    font-size: 14px;
    color: gray;
    margin: 0;
    text-align: justify;
}

.biene-our-donor h5 {
    font-size: 14px;
    color: #086ab0;
    margin-bottom: 15px;
}

.biene-our-donor .biene-amaze-one ul {
    margin: 0;
    padding: 0;
}

.biene-our-donor .biene-amaze-one ul li {
    list-style: none;
}

.biene-our-donor .biene-amaze-one ul li span {
    display: -webkit-inline-box;
}

.biene-our-donor .biene-amaze-one ul li span i {
    margin-right: 10px;
    font-size: 14px;
}

.biene-our-donor .biene-amaze-one ul li span p {
    font-size: 14px;
    margin: 0;
    color: #777;
}

.bees-bg-type {
    background: linear-gradient( 0.25turn, #0d578c, #207bbb, #51bdf1);
    padding: 40px 0;
}

.bees-part-hed .bees-call-easy h3 {
    color: #fff;
}

.bees-part-hed .bees-call-easy p {
    font-size: 14px;
    color: rgb(209, 209, 209);
    margin: 0;
}

.bees-part-dash .bees-call-asa ul {
    padding: 0;
    margin: 0;
}

.bees-part-dash .bees-call-asa ul li {
    list-style: none;
}

.bees-part-dash .bees-call-asa ul li span {
    display: -webkit-inline-box;
}

.bees-part-dash .bees-call-asa ul li i {
    margin-right: 10px;
    color: #fff;
}

.bees-part-dash .bees-call-asa ul li p {
    font-size: 14px;
    color: rgb(212, 212, 212);
}

.binen-succes {
    max-width: 800px;
    margin: 0 auto;
}

.binen-succes p {
    font-size: 14px;
    color: #086ab0;
    margin-top: 25px;
    text-align: justify;
}


/* ===================
SERVICES css
====================== */

.section-1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-bottom {
    padding-bottom: 50px;
}


/* ===============
Our Rotate css 
============== */

.biene-wide-br {
    position: fixed;
    right: -60px;
    bottom: 25%;
    z-index: 9999;
    display: block;
}

.biene-wide-br .brochure-side {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.video {
    width: 100%;
    height: 400px;
    margin: auto;
    display: block;
    border: none;
}

#popup-btn-vedio a {
    color: #fff !important;
}

#popup-btn-vedio {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 10px 50px rgb(0 0 0 / 25%);
    background-color: #2ba3dc;
    color: #fff;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #2ba3dc;
        -webkit-box-shadow: 0 0 3px #2ba3dc;
    }
    50% {
        background-color: #00274e;
        -webkit-box-shadow: 0 0 40px #00274e;
    }
    100% {
        background-color: #2ba3dc;
        -webkit-box-shadow: 0 0 3px #2ba3dc;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #2ba3dc;
        -moz-box-shadow: 0 0 3px #2ba3dc;
    }
    50% {
        background-color: #00274e;
        -moz-box-shadow: 0 0 40px #00274e;
    }
    100% {
        background-color: #2ba3dc;
        -moz-box-shadow: 0 0 3px #2ba3dc;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #2ba3dc;
        box-shadow: 0 0 3px #2ba3dc;
    }
    50% {
        background-color: #00274e;
        box-shadow: 0 0 40px #00274e;
    }
    100% {
        background-color: #2ba3dc;
        box-shadow: 0 0 3px #2ba3dc;
    }
}

@keyframes glowing {
    0% {
        background-color: #2ba3dc;
        box-shadow: 0 0 3px #2ba3dc;
    }
    50% {
        background-color: #00274e;
        box-shadow: 0 0 40px #00274e;
    }
    100% {
        background-color: #2ba3dc;
        box-shadow: 0 0 3px #2ba3dc;
    }
}


/* .popup-btn:hover {
    color: white;
    background-color: #00274e;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.video-popup {
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 99999;
    boxshadow: 10px 10px 10px 10px black;
}

.popup-bg {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
}

.popup-content_as {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
}

.popup-content_as .beine-close {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: fixed;
    top: 0;
    right: -50px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    border: none !important;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.popup-content_as .beine-close:hover {
    background-color: rgba(43, 163, 220, 1);
    color: #fff;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
} */


/**
 * Simple fade transition,
 */

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/* =================
Courses  css
==================== */

.we-cource-hw {
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.we-cource-hw h4 {
    font-size: 22px;
    letter-spacing: 1px;
}

.bienewabe-courses {
    background: url(../img/bienewabe-banner-img-course.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}


/* .beine-course-head {
    position: relative;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.beine-course-head .beine-course-img {
    padding: 5px 0px;
}

.beine-course-head .beine-pad-head {
    padding: 25px 30px;
}

.beine-course-sub .beine-course-title h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.beine-course-sub .beine-course-title p {
    font-size: 14px;
    margin: 0;
    color: #777;
}

.beine-course-head .beine-course-ul ul {
    padding: 10px 0px;
    border-bottom: 1px solid #e4e4e4;
}

.beine-course-head .beine-course-ul ul li {
    list-style: none;
}

.beine-course-head .beine-course-ul ul li span {
    display: inline-flex;
    font-size: 14px;
}

.beine-course-head .beine-course-ul ul li i {
    margin-right: 10px;
    color: #086ab0;
} */

.appy-btm {
    display: block;
    font-size: 14px;
    text-align: center;
    height: 40px;
    letter-spacing: 1px;
    margin: 0 auto;
    text-decoration: none;
    width: 140px;
}

.appy-btm p {
    border: 1px solid #3852a8;
    height: inherit;
    position: absolute;
    border-radius: 5px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: inherit;
}

.appy-btm:hover p {
    border-color: transparent;
    transform: rotateX(180deg);
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.beine-course-head:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.appy-btm button {
    /* width: 150px; */
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 0.8px;
    height: auto;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.appy-btm:hover button {
    color: #fff;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.appy-btm:focus {
    outline: none;
}

.appy-btm button {
    background-image: linear-gradient( to right, #086ab0, #2ba3dc, #28adf8, #3298eb);
    box-shadow: 0 4px 15px 0 rgb(14 116 184);
}


/* KEYFRAMES
========================================== */

@-webkit-keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}

@-moz-keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}

@-o-keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}


/* POP-UP
  ========================================== */

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .pop-up {
        width: calc(100% - 40px);
        height: auto;
        max-width: 900px;
    }
}

.pop-up .content {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .pop-up .content {
        min-height: inherit;
    }
}

.pop-up .content .fas-awa {
    z-index: 9999999 !important;
    color: white;
    display: block;
    position: relative;
    font-size: 30px;
}

.pop-up .content .fas-awa:hover {
    opacity: 0.8;
}

.pop-up .content .close {
    z-index: 999999;
    color: #ffff !important;
    display: block;
    opacity: 1 !important;
    position: relative;
}

.pop-up .content .dots .dot {
    position: absolute;
    border-radius: 100%;
    z-index: 11;
}

.pop-up .content .dots .dot:nth-of-type(1) {
    top: -80px;
    right: -80px;
    width: 160px;
    height: 160px;
    background-color: #689bf6;
    -webkit-animation: float 6s ease-in-out infinite;
    -moz-animation: float 6s ease-in-out infinite;
    -o-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

.pop-up .content .dots .dot:nth-of-type(2) {
    bottom: -120px;
    left: -120px;
    width: 200px;
    height: 180px;
    background-color: #f66867;
    -webkit-animation: float 8s ease-in-out infinite;
    -moz-animation: float 8s ease-in-out infinite;
    -o-animation: float 8s ease-in-out infinite;
    animation: float 8s ease-in-out infinite;
}

.pop-up .content .dots .dot:nth-of-type(3) {
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: #ffd84c;
    -webkit-animation: float 4s ease-in-out infinite;
    -moz-animation: float 4s ease-in-out infinite;
    -o-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
}

.pop-up .content .dots .dot:nth-of-type(4) {
    top: -80px;
    left: -80px;
    width: 160px;
    height: 160px;
    background-color: #644de3;
    -webkit-animation: float 6s ease-in-out infinite;
    -moz-animation: float 6s ease-in-out infinite;
    -o-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

.pop-up.open {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.pop-up.open img {
    opacity: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.pop-up .form-beine {
    padding: 50px;
}

.form-beine .form-dades h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.pop-up .form-beine .input-haw {
    width: 100%;
    font-size: 14px;
    margin: 10px 0px;
    border-radius: 50px;
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
}

.pop-up .form-beine .input-area {
    width: 100%;
    font-size: 14px;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px 12px;
    border: 1px solid #e4e4e4;
}


/*Styling Selectbox*/

.course_dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 2px rgb(204 204 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #8b758b;
    margin: 10px 0px;
    text-align: left;
    padding: 0px 5px;
    border: 1px solid #f3f3f3;
}

.course_dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.course_dropdown .select>i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.course_dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.course_dropdown:active {
    background-color: #f8f8f8
}

.course_dropdown.active:hover,
.course_dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}

.course_dropdown.active .select>i {
    transform: rotate(-90deg)
}

.course_dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.course_dropdown .dropdown-menu li {
    padding: 10px;
    font-size: 14px;
    color: #777777;
    border-bottom: 1px solid rgb(238, 238, 238);
    transition: all .2s ease-in-out;
    cursor: pointer
}

.course_dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.course_dropdown .dropdown-menu li:hover {
    background-color: #073a64;
    color: #fff;
}

.course_dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}


/* =================
Curriculum  css
==================== */

.bienewabe-curricu {
    background: url(../img/bienewabe-banner-img-curriculam.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.biene-child {
    margin-top: 25px;
}

.biene-wabe-fit-deno {
    padding: 30px 0;
}

.biene-head-alfitar img {
    border-radius: 8px;
}

.biene-desk-ten {
    margin-top: 60px;
}

.biene-child h5 {
    font-size: 18px;
}

.biene-child p {
    color: #777;
    text-align: justify;
    font-size: 14px;
    margin: 10px 0px;
}

.biene-data-edu {
    padding: 30px 0px;
}

.biene-data-edu h3 {
    font-size: 18px;
    color: #2ba3dc;
}

.biene-data-edu p {
    font-size: 14px;
    color: #777;
}

.padding-50 {
    padding-top: 50px;
}

.beine-padd-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}


/* Environment  */

.beine-bg-envt {
    width: 100%;
    height: 100%;
    background-image: url(../img/biene-environment-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    padding: 60px 0px;
}

.biene-envt-call .biene-envt-subs img {
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.biene-after-envrt {
    padding: 20px 30px;
}

.biene-after-envrt h3 {
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-size: 26px;
    margin-bottom: 25px;
}

.biene-after-envrt p {
    font-size: 14px;
    color: #d6d6d6;
}

.biene-wab-staff h3 {
    font-size: 26px;
    color: #086ab0;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 25px;
}

.biene-wab-staff p {
    font-size: 14px;
    color: #8a8888;
    margin: 0;
}


/* =================
Our Featured  css
==================== */

.bienewabe-featured {
    background: url(../img/bienewabe-banner-img-feature.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.biene-wabe-feature .biene-chilone {
    margin-top: 15px;
}

.biene-wabe-feature .biene-chilone h5 {
    font-size: 22px;
    margin-bottom: 20px;
}

.biene-wabe-feature .biene-chilone p {
    font-size: 14px;
    color: rgb(95, 95, 95);
    text-align: justify;
    line-height: 1.7;
}

.biene-wabe-feature .biene-chilone i {
    font-size: 14px;
    margin-bottom: 8px;
}

.feature_patter {
    background: url(../img/feature/featured-pattren.png);
    background-size: cover;
    background-position: center;
    background-attachment: inherit;
}

.bien-top-tefa {
    padding: 30px 25px;
    margin-top: 30px;
}

.feature-assed {
    background: #fff;
    border-radius: 8px;
    padding: 20px 15px;
    -webkit-box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
}

.feature-assed h2 {
    font-size: 18px;
    color: #2ba3dc;
    margin-bottom: 20px;
}

.feature-assed ul {
    padding: 0;
    margin: 0;
}

.feature-assed ul li {
    list-style: none;
}

.feature-assed ul li span {
    display: inline-flex;
}

.feature-assed ul li span i {
    font-size: 14px;
    margin-right: 10px;
    color: #0b69b1;
}

.feature-assed ul li span h5 {
    font-size: 14px;
    color: #202020;
}

.features-doem {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.features-doem img {
    transition: 0.3s;
}

.features-doem:hover img {
    transform: scale(1.05);
    transition: 0.3s;
}


/* =================
Portfolio  css
==================== */

.bienewabe-folio {
    background: url(../img/bienewabe-banner-img-folio.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.magfic-anim {
    overflow: hidden;
}

.magfic-anim .icon,
.magfic-anim .title {
    margin: 0;
    position: absolute;
}

.magfic-anim {
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
    position: relative;
}

.magfic-anim img {
    width: 100%;
    height: auto;
}

.magfic-anim .box-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
}

.magfic-anim:hover .box-content {
    opacity: 1;
    transform: perspective(400px) rotateX(0);
}

.magfic-anim .icon li a,
.box9 .box-content,
.box9 .icon li,
.box9 img {
    transition: all 0.35s ease 0s;
}

.magfic-anim .icon {
    list-style: none;
    padding: 0;
    top: 42%;
    left: 0;
    right: 0;
}

.img-gallery-magnific {
    margin: 10px 0;
}

.magnific-img {
    display: inline-block;
    padding: 10px 10px;
    width: 24.7%;
}

a.image-popup-vertical-fit {
    width: 100%;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.98;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-arrow-left:before {
    border-right: none !important;
}

.mfp-arrow-right:before {
    border-left: none !important;
}

button.mfp-arrow,
.mfp-counter {
    opacity: 0 !important;
    transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}

.mfp-container:hover button.mfp-arrow,
.mfp-container:hover .mfp-counter {
    opacity: 1 !important;
}


/* Magnific Popup CSS */

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #ccc;
}

.mfp-preloader a:hover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #fff;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #fff;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 50%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}


/* Main image in popup */

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}


/* The shadow behind the image */

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}


/* ===================
Blog  css
====================== */

.bienewabe-blog {
    background: url(../img/bienewabe-banner-img-blog.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.biene-blog-bar {
    padding: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.biene-blog-bar:hover {
    padding: 5px;
    -webkit-box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
    border: 1px solid transparent;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.biene-blog-bar .biene-blog-who {
    padding: 25px 25px;
}

.biene-blog-bar .biene-blog-who ul {
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.biene-blog-bar .biene-blog-who ul li {
    list-style: none;
    margin-right: 15px;
}

.biene-blog-bar .biene-blog-who ul li i {
    padding-right: 10px;
    color: #086ab0;
}

.biene-blog-bar .biene-blog-who ul li p {
    color: #282829;
    font-size: 14px;
    margin: 0;
}

.biene-blog-bar .biene-blog-who ul li span {
    display: inline-flex;
    line-height: 20px;
}

.biene-blog-bar .biene-blog-who .biene-blog-hw h3 {
    font-size: 20px;
    margin-top: 20px;
}

.biene-blog-bar .biene-blog-who .biene-blog-hw p {
    font-size: 14px;
    font-style: italic;
    color: #777777;
    margin: 15px 0;
}


/* ***********Blog More*********  */

.bienewabe-blog-more {
    background: url(../img/bienewabe-banner-img-blog-more.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.recent-all ul li {
    list-style: none;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}

.bien_recent .bien-inn h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.bien_recent .bien-inn p {
    font-size: 14px;
    color: #777777;
}

.bien_recent .bien-inn .blogs-arae {
    font-size: 14px;
    color: #4d4d4e;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #e4e4e4;
}

.bien_recent .bien-inn a:hover {
    color: #020202;
}

.bien_recent .bien-inn span {
    font-size: 12px;
    color: #086ab0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bien_recent .bien-inn .input-area {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 12px;
    -webkit-box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 2px 2px 10px 0px rgb(50 50 50 / 25%);
}

.bien_recent .recent-all ul {
    padding: 0px;
}

.bien_recent .recent-all ul li img {
    float: left;
    margin-right: 20px;
}

.bien_recent .recent-all ul li p {
    font-size: 12px;
    margin: 0px;
    color: #777777;
}

.bien_recent .recent-all ul li h5 {
    font-size: 12px;
    color: #222;
}


/* ====================
Home Background css
======================= */

.background-image {
    position: relative;
    text-align: center;
    color: white;
}

.background-image a {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.background-image a:hover {
    color: #086ab0;
}


/* ====================
IMAGE FIXED area css
======================= */

.image-fixed-area {
    position: relative;
    text-align: center;
}

.title-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.title-area h3 {
    color: #98c639;
}

.title-area span {
    color: #fff;
    font-weight: 700;
}


/* ===================
Our Icon css
====================== */


/* .biene-team h2 {
    color: #2ba3dc;
    margin-bottom: 20px;
}

.beiene-toper {
    display: inline-flex;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    padding: 30px 25px;
}

.beiene-toper .beiene-sups-huma .beine-awaw-call {
    margin-right: 20px;
}

.beiene-toper .beiene-sups-huma .beine-awaw-call h2 {
    font-size: 22px;
    color: #072e55;
    margin-bottom: 10px;
}

.beiene-toper .beiene-sups-huma .beine-awaw-call p {
    font-size: 14px;
    margin: 0;
    text-align: justify;
    color: #777;
}

.beiene-toper .beiene-sups-awa {
    margin-right: 20px;
} */


/* ==================
Contact us ccs
===================== */

.bienewabe-contact {
    background: url(../img/bienewabe-banner-img-contact.jpg);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    width: 100%;
    height: 100%;
}

.bien_titl h2 {
    color: #fff;
    margin-bottom: 0;
}

.bien_titl span {
    color: #2999ee;
    margin-bottom: 0;
}

.section-50 {
    padding: 50px 0;
}

.bienewabe-cont {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 30px;
}

.bienewabe-cont .bien-conts i {
    background-image: linear-gradient( to right, #086ab0, #2ba3dc, #28adf8, #3298eb);
    border-radius: 90px;
    height: 70px;
    width: 70px;
    display: inline-block;
    line-height: 70px;
    font-size: 26px;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    -webkit-transition: all .5s ease-out 0;
    -moz-transition: all .5s ease-out 0;
    -ms-transition: all .5s ease-out 0;
    -o-transition: all .5s ease-out 0;
    transition: all .5s ease-out 0;
}

.bienewabe-cont .bien-conts h3 {
    margin: 18px 0px;
    font-size: 16px;
}

.bienewabe-cont .bien-conts p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.bienewabe-cont .bien-conts a {
    margin: 0;
    color: #777;
    font-size: 14px;
    transition: all .5s ease-out 0;
}

.bienewabe-cont .bien-conts a:hover {
    color: #086ab0;
    font-size: 14px;
    transition: all .5s ease-out 0;
}

.being_forms_a {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px 50px;
    background: #fff;
}

.being_bg {
    position: relative;
    margin-top: -10%;
    margin-bottom: 45px;
    -webkit-box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}

.being_forms_a .beig-hw {
    text-align: center;
    margin-bottom: 40px;
}

.being_forms_a .beig-hw h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.being_forms_a .beig-hw p {
    font-size: 14px;
    margin: 15px 0;
    color: #777777;
}

.input-beig {
    margin: 10px 0;
}

.input-beig input {
    width: 100%;
    border-radius: 50px;
    font-size: 13px;
    background: #fff;
    padding: 10px 12px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 12px 0px rgb(0 0 0 / 20%);
}

.input-beig-area {
    margin: 10px 0;
}

.input-beig-area textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 13px;
    -webkit-box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 12px 0px rgb(0 0 0 / 20%);
}


/* ==================
Text animated ccs
===================== */

.animate {
    font-size: 30px;
}

.animate span {
    display: inline-block;
}

a.repeat {
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
    color: #222;
    padding: 5px 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: normal;
    margin: 0 0 0 50px;
    border-radius: 3px;
    position: relative;
    bottom: 15px;
}

a.repeat:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.animate span:nth-of-type(2) {
    animation-delay: 0.05s;
}

.animate span:nth-of-type(3) {
    animation-delay: 0.1s;
}

.animate span:nth-of-type(4) {
    animation-delay: 0.15s;
}

.animate span:nth-of-type(5) {
    animation-delay: 0.2s;
}

.animate span:nth-of-type(6) {
    animation-delay: 0.25s;
}

.animate span:nth-of-type(7) {
    animation-delay: 0.3s;
}

.animate span:nth-of-type(8) {
    animation-delay: 0.35s;
}

.animate span:nth-of-type(9) {
    animation-delay: 0.4s;
}

.animate span:nth-of-type(10) {
    animation-delay: 0.45s;
}

.animate span:nth-of-type(11) {
    animation-delay: 0.5s;
}

.animate span:nth-of-type(12) {
    animation-delay: 0.55s;
}

.animate span:nth-of-type(13) {
    animation-delay: 0.6s;
}

.animate span:nth-of-type(14) {
    animation-delay: 0.65s;
}

.animate span:nth-of-type(15) {
    animation-delay: 0.7s;
}

.animate span:nth-of-type(16) {
    animation-delay: 0.75s;
}

.animate span:nth-of-type(17) {
    animation-delay: 0.8s;
}

.animate span:nth-of-type(18) {
    animation-delay: 0.85s;
}

.animate span:nth-of-type(19) {
    animation-delay: 0.9s;
}

.animate span:nth-of-type(20) {
    animation-delay: 0.95s;
}


/* Animation One */

.one span {
    font-size: 30px;
    color: #086ab0;
    letter-spacing: 0.8px;
    opacity: 0;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
    transform: translate(-150px, -50px) rotate( -180deg) scale(3);
    animation: revolveScale 0.4s forwards;
}

@keyframes revolveScale {
    60% {
        transform: translate(20px, 20px) rotate(30deg) scale(0.3);
    }
    100% {
        transform: translate(0) rotate(0) scale(1);
        opacity: 1;
    }
}


/* ==================
CALL US ccs
===================== */

.call-us {
    position: fixed;
    bottom: 20px;
    left: 10px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    z-index: 9999;
}

.call-us a {
    background: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .2);
}


/* * ==================
 WhatsApp Chat css  
===================== */

.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 12%;
    left: 10px;
    line-height: 45px;
    right: 0;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 9999;
}

.float:hover i {
    color: #fff;
}


/* =================
Top Button ccs
==================== */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    background: linear-gradient( 90deg, rgb(9, 41, 56) 0%, rgb(29 112 152) 80%);
    width: 50px;
    height: 50px;
    z-index: 999999;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 14px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: linear-gradient(90deg, rgb(20, 20, 20) 0%, rgba(29, 29, 31, 0.8) 80%);
}

#return-to-top:hover img {
    color: #fff;
    top: 4px;
}


/* ====================
FOOTER css
==================== */

.footer-area {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(12, 72, 155, 1), rgba(13, 48, 74, 0.6)), url(../img/footer_bg.png);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
}

.single-widget p {
    color: #c8c9cc;
    font-size: 14px;
    margin-top: 15px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif !important;
}

.single-widget h3 {
    color: #fff;
    font-size: 16px;
}

.footer-menu {
    padding: 10px 0px;
    margin: 0;
}

.footer-bottom-border {
    border-bottom: 1px solid #1b5e7d !important;
    padding-bottom: 20px;
}

.beine-single-widget-fa .footer-contact {
    padding: 0;
    margin: 10px 0px;
}

.beine-single-widget-fa .footer-contact li {
    list-style: none;
}

.beine-single-widget-fa .footer-contact li {
    list-style: none;
}

.beine-single-widget-fa .footer-contact li span {
    display: inline-flex;
    margin-bottom: 8px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.beine-single-widget-fa .footer-contact li:hover a {
    color: #fff;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.beine-single-widget-fa .footer-contact li span i {
    color: rgb(55, 164, 220);
    margin-right: 10px;
}

.beine-single-widget-fa .footer-contact li span p {
    color: #ececec;
    margin: 0;
    font-size: 14px;
}

.beine-single-widget-fa .footer-contact li span a {
    display: inline-flex;
    color: #ececec;
    font-size: 14px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single-widget-c .single-biene-contact {
    margin: 10px 0px;
}

.single-widget-c .single-biene-contact span {
    display: inline-flex;
}

.single-widget-c .footer-contact .beine-bottom-link a {
    display: inline-flex;
}

.beine-single-widget-fa .footer-contact .beine-bottom-fas i {
    color: #fff;
    border: 1px solid #e4e4e4;
    background: transparent;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.beine-single-widget-fa .footer-contact .beine-bottom-fas:hover i {
    color: #086ab0;
    background: #fff;
    border: 1px solid #e4e4e4;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.single-widget-c .footer-contact {
    margin: 10px 0;
    padding: 0;
}

.beine-single-widget-fa h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

.single-widget-c h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

.single-widget-c .footer-contact .beine-bottom-link {
    list-style: none;
    margin-bottom: 10px;
}

.single-widget-c .footer-contact .beine-bottom-link i {
    color: rgb(55, 164, 220);
    margin-right: 10px;
}

.single-widget-c .footer-contact .beine-bottom-link a {
    color: #ececec;
    font-size: 14px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.single-widget-c .footer-contact .beine-bottom-link a:hover {
    color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.single-widget-c .footer-contact a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.single-widget-c .footer-contact a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.beine-single-widget-fa .footer-contact .beine-bottom-fas span {
    line-height: 35px;
}

.beine-single-widget-fa .footer-contact .beine-bottom-fas span p {
    color: #ececec;
    margin: 0;
    font-size: 14px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.beine-single-widget-fa .footer-contact .beine-bottom-fas span:hover p {
    color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/* ======================
FOOTER bottom area
====================== */

.beine-bottom span {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.beine-bottom-fas {
    list-style: none;
}

.footer-bay {
    margin-top: 40px;
}